<mat-card>
    <mat-card-content>
        <h2>Register</h2>
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
            <mat-form-field class="full-width-input">
                <input matInput placeholder="First Name" formControlName="first_name"
                    [ngClass]="{ 'is-invalid': submitted && f.first_name.errors }" />
                <mat-error>
                    Please provide a valid First Name
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="Last Name" formControlName="last_name" required />
                <mat-error>
                    Please provide a valid Middle Name
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="Middle Name" formControlName="middle_name"
                    [ngClass]="{ 'is-invalid': submitted && f.middle_name.errors }" />
                <mat-error>
                    Please provide a valid Last Name
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="Date of birth yyyy-mm-dd" formControlName="date_of_birth"
                    [ngClass]="{ 'is-invalid': submitted && f.date_of_birth.errors }" />
                <mat-error>
                    Please provide a valid Date of birth
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="Email" type="email" formControlName="email"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <mat-error>
                    Please provide a valid email address
                </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
                <input matInput placeholder="Password" type="password" formControlName="password"
                    [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                <mat-error>
                    Please provide a valid Password
                </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary">
                Register
            </button>
        </form>
    </mat-card-content>
</mat-card>