<mat-toolbar class="flexSpaceBetween">
    <span>
      <h1>Tabang Na!</h1>
    </span>
    <span>
      <a mat-button [routerLink]="'/home'"> Home </a>
      <a mat-button [routerLink]="'/farm'"> Farm</a>
      <a mat-button [routerLink]="'/products'"> Products</a>
      <a mat-button [routerLink]="'/faq'"> FAQ </a>
      <a mat-button [routerLink]="'/about'"> About us </a>
    </span>
    <span>
      <button [routerLink]="'/cart'" mat-icon-button class="example-icon favorite-icon">
        <mat-icon>shopping_basket</mat-icon>
      </button>
      <button mat-icon-button [matMenuTriggerFor]="appMenu" class="example-icon favorite-icon">
        <mat-icon>menu</mat-icon>
      </button>
    </span>
    
</mat-toolbar>
<mat-menu #appMenu="matMenu">
  <button *ngIf="authService.currentUserValue" (click)="logout()" mat-menu-item>Logout</button>
</mat-menu>

<div style="height: 88vh;" [@fadeAnimation]="getRouterOutletState(o)">
  <router-outlet #o="outlet"></router-outlet>
</div>


