.toolbar-spacer {
    flex: 1 1 auto;
}

.flexSpaceBetween {
    justify-content: space-between;
    position: sticky;
    position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; 
    z-index: 1000; 
}
:host /deep/ router-outlet ~ * {
    position: absolute;
    width: 100%;
    height: 100%;
  }